<div *ngFor="let low of gauge;let i = index;">
  <div attr.id="gauge-chart-{{i}}" style="padding: 5% 0% 0% 10%;">
      <svg></svg>
      <div class="row" style = "margin: 5% 0% 4% -10%;">
              <div class="col-md-12" style="font-size:10px;">
                      <div class="col-md-6 col-xs-4">
                        <div class="rectangle-green" style="margin-left: 8px;">
                            <span style="padding: 17px;white-space: nowrap;color:black;font-family:Poppins, sans-serif !important;font-weight: bold;">+ve : {{low.cw}}%</span>
                        </div>
                        <div class="rectangle-red" style="margin-left: 8px;">
                          <span style="padding: 17px;white-space: nowrap;color:black;font-family:Poppins, sans-serif !important;font-weight: bold;">-ve : {{low.pw}}%</span>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-4">
                        <div class="rectangle-orange" style="margin-left: 8px;">
                            <span style="padding: 17px;white-space: nowrap;color:black;font-family:Poppins, sans-serif !important;font-weight: bold;">Neutral : {{low.tw}}%</span>
                        </div>
                    </div>
                </div>
      </div>  
  </div>
</div>
