select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
    no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* and then whatever styles you want*/
  height: 30px;
  width: 100px;
  padding: 5px;
}
select:focus option.holder {
  display: none;
}
.dd-list-item {
  padding: 2px 5px;
  cursor: pointer;
  width: 100% !important;
}

.dd-display-item {
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 15px;
  display: block;
  cursor: pointer;
}

.dd-active {
  background-color: #ddd;
}

.dd-highlight-item {
  background-color: #00b7d4;
  color: #fff;
}

.dd-items-container {
  border: 1px solid #00b7d4;
  background-color: #fff;
  position: absolute;
  font-size: 18px;
  overflow: auto;
  height: fit-content;
  max-height: 30vh;
  width: 95%;
  z-index: 9;
  top: 27px;
}

.drop-input {
  position: absolute;
  text-indent: 15px;
  font-size: 18px;
  z-index: 10;
  width: 95%;
}
.dd-list-container {
  position: relative;
}
