<h3>Control Value Accessor</h3>
  <ol>
    <li>Implement this interface to create a custom form control directive that integrates with Angular forms.</li>
    <li>Defines an interface that acts as a bridge between the Angular forms API and a native element in the DOM.</li>
  </ol>
<h5>Class implementations</h5>
<ul>
  <li>CheckboxControlValueAccessor</li>
  <li>DefaultValueAccessor</li>
  <li>NumberValueAccessor</li>
  <li>RadioControlValueAccessor</li>
  <li>RangeValueAccessor</li>
  <li>SelectControlValueAccessor</li>
  <li>SelectMultipleControlValueAccessor</li>
</ul>
<app-search-dropdown [(ngModel)]="value" [list]="list" [innerStyleClass]="" [outerStyleClass]="'selectClass'"></app-search-dropdown>
